[submodule "third-party/magma"]
	path = third-party/magma
	url = https://github.com/vcoda/magma.git
	branch = master
[submodule "third-party/rapid"]
	path = third-party/rapid
	url = https://github.com/vcoda/rapid.git
	branch = master
[submodule "third-party/tinyobjloader"]
	path = third-party/tinyobjloader
	url = https://github.com/tinyobjloader/tinyobjloader.git
[submodule "third-party/stb"]
	path = third-party/stb
	url = https://github.com/nothings/stb.git
